Dsda.UploaderRO/Service References/DsdaServiceReference/DsdaUpload1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.dmotorworks.com/pip-dsda" targetNamespace="http://www.dmotorworks.com/pip-dsda" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="DsdaUpload" type="tns:DsdaUpload" />
  <xs:element name="DsdaUploadResponse" type="tns:DsdaUploadResponse" />
  <xs:element name="PIPException" type="tns:PIPException" />
  <xs:complexType name="DsdaUpload">
    <xs:sequence>
      <xs:element minOccurs="0" name="authToken" type="tns:authenticationToken" />
      <xs:element minOccurs="0" name="dealerId" type="tns:dealerId" />
      <xs:element minOccurs="0" name="dsdaFile" type="tns:dsdaFileMetaData" />
      <xs:element xmlns:ns1="http://www.w3.org/2005/05/xmlmime" ns1:expectedContentTypes="application/octet-stream" minOccurs="0" name="arg3" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="authenticationToken">
    <xs:sequence>
      <xs:element minOccurs="0" name="password" type="xs:string" />
      <xs:element minOccurs="0" name="username" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dealerId">
    <xs:sequence>
      <xs:element minOccurs="0" name="dealerId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dsdaFileMetaData">
    <xs:sequence>
      <xs:element minOccurs="0" name="annotation" type="xs:string" />
      <xs:element minOccurs="0" name="cabid" type="xs:string" />
      <xs:element minOccurs="0" name="docdate" type="xs:string" />
      <xs:element minOccurs="0" name="docdesc" type="xs:string" />
      <xs:element minOccurs="0" name="docflags" type="xs:string" />
      <xs:element minOccurs="0" name="docid" type="xs:string" />
      <xs:element minOccurs="0" name="docsstype" type="xs:string" />
      <xs:element minOccurs="0" name="fileSize" type="xs:long" />
      <xs:element minOccurs="0" name="foldesc" type="xs:string" />
      <xs:element minOccurs="0" name="folflags" type="xs:string" />
      <xs:element minOccurs="0" name="folid" type="xs:string" />
      <xs:element minOccurs="0" name="tagNames" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DsdaUploadResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:dsdaUploadReply" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="dsdaUploadReply">
    <xs:sequence>
      <xs:element minOccurs="0" name="status" type="tns:status" />
      <xs:element minOccurs="0" name="uploadId" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="status">
    <xs:sequence>
      <xs:element minOccurs="0" name="errorCode" type="xs:string" />
      <xs:element minOccurs="0" name="message" type="xs:string" />
      <xs:element minOccurs="0" name="status" type="tns:resultCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PIPException">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="resultCode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="success" />
      <xs:enumeration value="failure" />
    </xs:restriction>
  </xs:simpleType>
</xs:schema>